<!DOCTYPE HTML>
<html>
	<head>
	    <title>home</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>		
		<div>
			<p>Welcome</p>
			<a href="/main/table/users">Open dore</a>
		</div>
	</body>
</html>