<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="/users" method="post">
            <div><label> Name : <input type="text" name="name"/> </label></div>
            <input type="hidden" name ="_csrf" value="{{_csrf.token}}" >
            <div><input type="submit" value="Войти"/></div>
        </form>
    </body>
</html>
