<!DOCTYPE HTML>
<html>
	<head>
	    <title>main</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/logout" method="post">
            <input type="hidden" name ="_csrf" value="{{_csrf.token}}" >
            <input type="submit" value="Выйти"/>
        </form>
		<hr />
			<a href="/main/table/lim">lim</a>
			<a href="/main/table/inf">inf</a>
		<hr />
		<div>
			<p>Список пользователей</p>
			<hr />
			{{#users}}
				<li>{{id}} . {{name}}</li>
			{{/users}}
		</div>
	</body>
</html>