<!DOCTYPE HTML>
<html>
	<head>
	    <title>lim</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/logout" method="post">
            <input type="hidden" name ="_csrf" value="{{_csrf.token}}" >
            <input type="submit" value="Выйти"/>
        </form>
		<hr />
			<a href="/main/table/users">Main</a>
		<hr />
		<div>
			<p>Топ игроков по lim режиму</p>
			<hr />
			{{#lim}}
				<li>{{score}} - {{user_id}}</li>
			{{/lim}}
		</div>
	</body>
</html>